<div class="container my-5">
  <button class="btn btn-primary" (click)="initNewStudent()"> Create New Student</button>

  <table class="table table-striped table-hover">
    <thead>
      <th>Id</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Class Name</th>
      <th>Department</th>
      <th></th>
    </thead>
    <tbody>
      <tr  *ngFor="let student of students ">
        <td>{{student.id}}</td>
        <td>{{student.firstName}}</td>
        <td>{{student.lastName}}</td>
        <td>{{student.className}}</td>
        <td>{{student.department}}</td>
        <td><button class="btn btn-primary" (click)="editStudent(student)">Edit</button></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="container my-5">
  <app-edit-student [student]="studentToEdit" (studentsUpdated)="updateStudentList($event)"></app-edit-student>
</div>